body{
	     font-family: roboto;
}
/* Navigation */
nav{
	    background: #021428;
	    width: 1903px;
	    height: 70px;
}
a{
	 line-height: 4;
	 color: #fff;
	 font-weight: bolder;
	 text-decoration: none;
	 margin-left: 20px;
	 position: relative;
	 top: -11px;
	 left: 40px;
}
a:hover{
	   color: #25C6FB;
}
a.active{
	    color: #08AF0C;
}
img.logo{
	       margin-left: 402px;
	       margin-right: 20px;
	       margin-top: 14px; 
}
/* Slide show*/
.slider-show{
	         border-bottom: 10px solid #021428;
	         width: 1903px;
}
/*Homepage content*/
#paragraph {
	margin: 100px;
}

/* Sevice page style*/
/*page title*/
.page_title{
	       margin-left: 400px;
	       color: #021428;
}
/*service slideshow*/
img.service_slide{
	         margin-left: 401px;
	         width: 67%;
}
/* Service paragraph style*/
section#service-paragraph{
	         margin: 100px;
	         margin-left: 400px;
}
/*Portfolio section style*/
/*portfolio image*/
img#project1-image, img#project2-image, img#project3-image{
	         margin-left: 401px;
}
/*portfolio title and paragraph*/
div#project1{
        margin-left: 1150px;
        position: absolute;
        top: 121px;
        left: 0px;
        width: 400px;
}

div#project2{ 
	    margin-left: 1150px;
        position: absolute;
        top: 482px;
        left: 0px;
        width: 400px;
 }

 div#project3{ 
	    margin-left: 1150px;
        position: absolute;
        top: 837px;
        left: 0px;
        width: 400px;
 }
/*project1 button*/
a#project1-button, a#project2-button, a#project3-button{
	      width: 100px;
	      height: 60px;
	      background: #c51a1a;
	      padding: 20px;
	      position: relative;
	      top: 4px;
	      left: -21px;
}
/*project2*/
section#project2{
	         margin-top: 50px;	         
}
section#project3{
	         margin-top: 50px;	         
}
/*About page style*/
/*image style*/
img#about-page-image{
	            margin-left: 402px;
}
/*about page content*/
div#about-page-paragraph{
	            margin-left: 1150px;
		        position: absolute;
		        top: 121px;
		        left: 0px;
		        width: 400px;
}
/*Contact page style*/
form{
	margin-left: 402px;   
}
.form-control{
	       display: block;
	       width: 40%;
	       padding: .357rem .75rem; 
	       font-size: 1rem;
	       line-height: 1.5;
	       color: #495857;
	       background: #fff;
	       background-clip: padding-box;
	       border: 1px solid #ced4da;
	       border-radius: .25rem;
	       transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.btn-primary{
	         color: #fff;
	         background: #007bff;
	         border-color: #007bff;
}
.btn-primary:hover{
	        color: #fff;
	        background: #0000FF; 
	        border-color: #0000FF; 
}
.btn{
	   display: inline-block;
	   font-weight: 400;
	   text-align: center;
	   white-space: nowrap;
	   vertical-align: middle;
	   user-select: none;
	   border: 1px solid transparent;
	   padding: .375rem .75rem;
	   font-size: 1rem;
	   line-height: 1.6;
	   border-radius: .25rem;
	   transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
/*Footer*/
#footer{
	         background: #021428;
	         margin-top: 200px;
	         width: 100%;
	         height: 215px;
	         color: #fff;
}
p.footer_text{
	         line-height: 13;
	         text-align: center;
}